<mat-toolbar class="header">
  <span>Admin Panel</span>
</mat-toolbar>

<h3>Customer, who want to get offer:</h3>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="customers" multiTemplateDataRows>
    <ng-container
      matColumnDef="{{ column }}"
      *ngFor="let column of columnsToDisplay"
    >
      <th mat-header-cell *matHeaderCellDef>
        {{ column === "time" ? "Time" : column }}
      </th>
      <td mat-cell *matCellDef="let customer">
        {{
          column === "time"
            ? customer.time.slice(0, 10) + " " + customer.time.substring(11, 19)
            : customer[column]
        }}
      </td>
    </ng-container>
    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let customer"
        [attr.colspan]="columnsToDisplay.length"
      >
        <div
          class="example-element-detail"
          [@detailExpand]="
            customer == expandedCustomer ? 'expanded' : 'collapsed'
          "
          (click)="getCalculateFormDto(customer)"
        >
          <div class="example-element-description-column">
            <div class="example-element-description-title">Home price:</div>
            <div class="example-element-description-answer">
              {{ customer.calculateForm.homePrice }}€
            </div>
            <div class="example-element-description-title">
              Monthly family income:
            </div>
            <div class="example-element-description-answer">
              {{ customer.calculateForm.monthlyFamilyIncome }}€
            </div>
            <div class="example-element-description-title">Loan term:</div>
            <div class="example-element-description-answer">
              {{ customer.calculateForm.loanTerm }} years
            </div>
            <div class="example-element-description-title">
              Number of family members:
            </div>
            <div class="example-element-description-answer">
              {{ customer.calculateForm.familyMembers }}
            </div>
            <div class="example-element-description-title">Has children:</div>
            <div class="example-element-description-answer">
              {{ customer.calculateForm.haveChildren ? "yes" : "no" }}
            </div>
          </div>

          <div class="example-element-description-button">
            <button
              mat-stroked-button
              color="warn"
              (click)="deleteCustomer(customer.id)"
            >
              Delete
            </button>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr
      mat-row
      *matRowDef="let customer; columns: columnsToDisplay"
      class="example-element-row"
      [class.example-expanded-row]="expandedCustomer === customer"
      (click)="
        expandedCustomer = expandedCustomer === customer ? null : customer
      "
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="example-detail-row"
    ></tr>
  </table>
  <mat-paginator
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPageChange($event)"

  ></mat-paginator>
</div>
<div class="spinner-container" *ngIf="spinerOn">
  <div class="spinner-overlay"></div>
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</div>
