<mat-toolbar class="header">
  <span>Admin Panel</span>
</mat-toolbar>

<h3>Customer, who want to get offer:</h3>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="customers" multiTemplateDataRows>
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay" >
      <mat-header-cell *matHeaderCellDef>
        <ng-container [ngSwitch]="column">
          <ng-container *ngSwitchCase="'name'">Name</ng-container>
          <ng-container *ngSwitchCase="'phoneNumber'">Phone Number</ng-container>
          <ng-container *ngSwitchCase="'email'">Email address</ng-container>
          <ng-container *ngSwitchCase="'time'">Submission time</ng-container>
          <ng-container *ngSwitchCase="'action'">Action</ng-container>

        </ng-container>
      </mat-header-cell>
      <mat-cell *matCellDef="let customer">
        <ng-container *ngIf="column !== 'time'; else timeCell">
          {{customer[column]}}
        </ng-container>
        <ng-template #timeCell>
          {{ customer.time.slice(0, 10) + " " + customer.time.substring(11, 19) }}
        </ng-template>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let customer" [attr.colspan]="columnsToDisplay.length">
        <div [@detailExpand]="customer == expandedCustomer ? 'expanded' : 'collapsed'">
          <div>Number of family members: {{customer.familyMembers}}</div>
          <div>Customer has children: {{customer.haveChildren}}</div>
          <div>Customer's home price: {{customer.homePrice}}</div>
          <div>Customer's loan term: {{customer.loanTerm}} years</div>
          <div>Customer's monthly family income: {{customer.monthlyFamilyIncome}}</div>
          <button mat-raised-button (click)="deleteCustomer(customer.id)">Delete</button>
        </div>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let customer; columns: columnsToDisplay;"
             class="example-element-row"
             [class.example-expanded-row]="expandedCustomer === customer"
             (click)="expandedCustomer = expandedCustomer === customer ? null : customer"
             matRipple>
    </mat-row>
    <mat-row *matRowDef="let row; columns: ['expandedDetail']"
             class="example-detail-row"></mat-row>
  </table>

<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  aria-label="Select page of periodic elements"
>
</mat-paginator>
</div>
