.mat-elevation-z8 {
  scale: 80%;
}
mat-cell{
  padding: 10px;
  font-size: 1.5em;
}
@media only screen and (max-width: 1000px) {
  mat-cell {
    font-size: 1em;
  }
}
@media only screen and (max-width: 500px) {
  mat-cell {
    font-size: 0.8em;
  }
}

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .orange{
    background-color: #f5d378;
  }

  h3{
    text-align: center;
    padding-top: 60px;
  }
