form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box {
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 800px) {
  form {
    margin: 0 auto;

    width: 50%;
  }
  .box {
    width: 80%;
  }
}

.my-button {
  width: 200px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
.my-button:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.login-button {
  background-color: #f6f916;
}
.login-button:hover {
  background-color: #f6f916;
  border: 2px solid #b4b667;
}
