<!-- <app-home-page></app-home-page> -->
<body>
  <div class="hero">
    <div class="container">
      <div class="content">
        <h1>
          Use our free mortgage calculator to estimate your monthly mortgage
          payments.
        </h1>
        <h1 class="title">How much can I borrow?</h1>
        <h1>TeamName</h1>
        <div><button mat-button  class="my-button calculate-mortgage-button" routerLink="/calculate">Calculate Mortgage</button></div>
      </div>
    </div>
  </div>
</body>
