<!-- <app-home-page></app-home-page> -->
<body>
  <!-- <mat-toolbar>
    <h1>sWEB</h1>
  </mat-toolbar> -->
  <div>
    <div class="hero">
      <div class="container">
        <div class="content">
          <h1>sWEB Mortgage calculator</h1>

          <h2>Calculate your future home price</h2>

          <button
            mat-button
            class="my-button calculate-mortgage-button"
            routerLink="/calculate"
          >
            Calculate Mortgage
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
