<!-- <head>
  <script src="./show.js"></script>
</head> -->
<div class="formBlock">
  <h2>Mortgage loan calculator</h2>

  <div class="orange">
    <div class="box">
      <mat-tab-group>
        <mat-tab routerLink="/borrow" label="How much can you borrow">
          <ng-template matTabContent>
            <div class="columns">
              <form class="column" [formGroup]="calculateForm">
                <div class="toggle-container">
                  <div class="toggle-label">Alone/With partner</div>

                  <mat-slide-toggle
                    class="toggle"
                    (change)="onChange()"
                    formControlName="partnerToggle"
                  ></mat-slide-toggle>
                </div>

                <mat-form-field class="homePrice" appearance="outline">
                  <mat-label>Home Price</mat-label>
                  <input
                    matInput
                    placeholder="Enter home price"
                    formControlName="homePrice"
                    maxlength="12"
                    pattern="^[0-9]+$"
                  />
                  <mat-error
                    *ngIf="calculateForm.controls.homePrice.errors?.['required']"
                  >
                    Home price is required.
                  </mat-error>
                  <mat-error
                    *ngIf="calculateForm.controls.homePrice.errors?.['invalidNumber']"
                  >
                    Input should accept only numbers.
                  </mat-error>
                  <mat-error
                    *ngIf="calculateForm.controls.homePrice.errors?.['maxNumbersReached']"
                  >
                    Maximum input of 12 numbers reached.
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="montlyIncome" appearance="outline">
                  <mat-label>Monthly family income</mat-label>
                  <input
                    maxlength="12"
                    matInput
                    placeholder="Monthly family income"
                    formControlName="monthlyFamilyIncome"
                  />
                  <mat-error *ngIf="monthlyFamilyIncome.hasError('required')">
                    Monthly family income field is required.
                  </mat-error>
                  <mat-error
                    *ngIf="calculateForm.controls.monthlyFamilyIncome.errors?.['invalidNumber']"
                  >
                    Input should accept only numbers.
                  </mat-error>

                  <mat-error
                    *ngIf="calculateForm.controls.monthlyFamilyIncome.errors?.['maxNumbersReached']"
                  >
                    Maximum input of 12 numbers reached.
                  </mat-error>
                </mat-form-field>

                <div class="slider-container">
                  <div class="slider-name">Loan period:</div>
                  <mat-slider
                    min="1"
                    max="30"
                    step="1"
                    showTickMarks
                    discrete
                    [displayWith]="formatLabelLoan"
                  >
                    <input matSliderThumb formControlName="loanTerm" />
                  </mat-slider>
                  <div class="slider-labels">
                    <div class="slider-label-left">1</div>
                    <div class="slider-label-right">30</div>
                  </div>
                </div>
                <div class="slider-container">
                  <div class="slider-name">Number of adult family members:</div>

                  <mat-slider
                    min="1"
                    max="5"
                    step="1"
                    showTickMarks
                    discrete
                    [displayWith]="formatLabelAdult"
                  >
                    <input matSliderThumb formControlName="familyMembers" />
                  </mat-slider>
                  <div class="slider-labels">
                    <div class="slider-label-left">1</div>
                    <div class="slider-label-right">5+</div>
                  </div>
                </div>

                <div class="toggle-container">
                  <div class="toggle-label">Do you have children?</div>
                  <mat-slide-toggle
                    class="toggle"
                    formControlName="haveChildren"
                  ></mat-slide-toggle>
                </div>

                <button
                  class="show-more"
                  mat-button
                  type="button"
                  (click)="toggleShowMore()"
                >
                  {{
                    showMore
                      ? "▲ Less detailed calculator"
                      : "▼ Advanced calculator"
                  }}
                </button>
                <ng-container *ngIf="showMore">
                  <div
                    [@expandCollapse]="showMore ? 'expanded' : 'collapsed'"
                    [ngClass]="showMore ? 'show-more-expanded' : 'show-more'"
                    class="show-more-content"
                  >
                    <div class="Radio-label">What would you like to buy?</div>
                    <mat-radio-group
                      class="radioselect"
                      formControlName="buyOption"
                      aria-label="Select an option"
                      class="smallRadio"
                    >
                      <mat-radio-button value="NEW_HOUSE"
                        >New House</mat-radio-button
                      >
                      <mat-radio-button value="COOPERATIVE"
                        >Housing co-operative apartment</mat-radio-button
                      >
                      <mat-radio-button value="SECOND_HOUSE"
                        >Second Home</mat-radio-button
                      >
                    </mat-radio-group>

                    <div class="Radio-label">Do you have a student loan?</div>
                    <mat-radio-group
                      formControlName="studentLoan"
                      aria-label="Select an option"
                      class="smallRadio"
                    >
                      <mat-radio-button value="true">Yes</mat-radio-button>
                      <mat-radio-button value="false">No</mat-radio-button>
                    </mat-radio-group>

                    <div class="Radio-label">Do you have other loans?</div>
                    <mat-radio-group
                      formControlName="otherLoan"
                      aria-label="Select an option"
                      class="smallRadio"
                    >
                      <mat-radio-button value="true">Yes</mat-radio-button>
                      <mat-radio-button value="false">No</mat-radio-button>
                    </mat-radio-group>

                    <div class="Radio-label">
                      Are you PEP (politically exposed person)?
                    </div>
                    <mat-radio-group
                      formControlName="politicalyExposed"
                      aria-label="Select an option"
                      class="smallRadio"
                    >
                      <mat-radio-button class="custom-radio-button" value="true"
                        >Yes</mat-radio-button
                      >
                      <mat-radio-button value="false">No</mat-radio-button>
                    </mat-radio-group>

                    <div class="dropdown-container">
                      <div class="dropdown-label">
                        City of the family's residence:
                      </div>

                      <mat-form-field
                        class="example-full-width"
                        appearance="outline"
                      >
                        <mat-label>Select city</mat-label>
                        <input
                          type="text"
                          matInput
                          formControlName="citySelect"
                          [matAutocomplete]="auto"
                        /><mat-error
                          *ngIf="calculateForm.controls.citySelect.errors?.['pattern']"
                        >
                          Only Letters are allowed.
                        </mat-error>
                        <mat-autocomplete
                          #auto="matAutocomplete"
                          [displayWith]="displayFn"
                        >
                          <mat-option
                            *ngFor="let option of filteredOptions | async"
                            [value]="option"
                          >
                            {{ option.name }}</mat-option
                          >
                        </mat-autocomplete>
                        <!-- <mat-error *ngIf="citySelect.hasError('required')">
                          Please select a city.
                        </mat-error> -->
                      </mat-form-field>
                    </div>
                  </div>
                  <div
                    class="warning"
                    *ngIf="
                      studentLoan.value == 'true' ||
                      otherLoan.value == 'true' ||
                      politicalyExposed.value == 'true'
                    "
                  >
                    You need to talk with bank assistant
                  </div>
                </ng-container>

                <div class="button-container">
                  <button
                    mat-button
                    type="button"
                    class="my-button calculate-button"
                    (change)="show()"
                    (click)="handleButtonClick()"
                  >
                    Calculate
                  </button>
                </div>
              </form>

              <form
                class="column2 show"
                [formGroup]="submitForm"
                *ngIf="showColumn2"
                [@form2Animation]
                (ngSubmit)="onSubmit()"
              >
                <div class="chart-container-div">
                  <app-pie-chart
                    [loanAmount]="calculateResultsDto.maxLoan"
                    [intrestPaid]="calculateResultsDto.totalInterestPaid"
                    [agreementFee]="calculateResultsDto.agreementFee"
                  ></app-pie-chart
                  ><mat-divider [vertical]="true"></mat-divider>
                </div>

                <div class="form2">
                  <div class="grid-container">
                    <div class="grid-item-2">
                      <div class="amountDisplay">
                        <div class="align-image">
                          <mat-icon class="brightness-1-icon"
                            >brightness_1</mat-icon
                          >

                          <span matPrefix>Loan amount:</span>
                        </div>
                        <div class="amount-positioning">
                          {{ calculateResultsDto.maxLoan }}€
                        </div>
                      </div>
                    </div>
                    <div class="grid-item-2">
                      <div class="amountDisplay">
                        <div class="align-image">
                          <mat-icon class="brightness-2-icon"
                            >brightness_1</mat-icon
                          >
                          <span matPrefix>Total interest paid:</span>
                        </div>
                        <div class="amount-positioning">
                          {{ calculateResultsDto.totalInterestPaid }}€
                        </div>
                      </div>
                    </div>

                    <div class="grid-item-2">
                      <div class="amountDisplay">
                        <div class="align-image">
                          <mat-icon class="brightness-3-icon"
                            >brightness_1</mat-icon
                          >
                          <span matPrefix>Agreement fee:</span>
                        </div>
                        <div class="amount-positioning">
                          {{ calculateResultsDto.agreementFee * 10 }}€
                        </div>
                      </div>
                    </div>
                    <div class="grid-item-2">
                      <div class="amountDisplay">
                        <span class="total" matPrefix>Total payment sum:</span>

                        <strong>
                          {{ calculateResultsDto.totalPaymentSum }}€</strong
                        >
                      </div>
                    </div>
                  </div>
                  <div class="button-container">
                    <button
                      mat-button
                      type="submit"
                      class="my-button submit-button"
                      (click)="showPopupForm()"
                    >
                      Submit application
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </ng-template>
        </mat-tab>

        <mat-tab routerLink="/calculate" label="Calculate monthly payment">
          <form class="column3" [formGroup]="applyForm">
            <div class="grid-container2">
              <div class="user">
                <div class="toggle-container2">
                  <div class="toggle-label">Alone/With partner</div>

                  <mat-slide-toggle
                    class="toggle"
                    formControlName="partnerToggle"
                    (change)="onChange()"
                  ></mat-slide-toggle>
                </div>
                <mat-form-field class="dealAmount" appearance="outline">
                  <mat-label>Deal amount</mat-label>
                  <input
                    maxlength="12"
                    matInput
                    formControlName="dealAmount"
                    placeholder="Enter deal amount"
                  />
                  <mat-error *ngIf="dealAmount.hasError('required')"
                    >Deal amount field is required.</mat-error
                  >
                  <mat-error *ngIf="dealAmount.errors?.['invalidNumber']">
                    Input should accept only numbers.
                  </mat-error>
                  <mat-error *ngIf="dealAmount.hasError('maxNumbersReached')"
                    >Maximum input of 12 numbers reached.</mat-error
                  >
                </mat-form-field>
                <mat-form-field class="downPayment" appearance="outline">
                  <mat-label>Down payment</mat-label>
                  <input
                    maxlength="12"
                    matInput
                    formControlName="downPayment"
                    placeholder="Enter down payment"
                  />
                  <mat-error *ngIf="downPayment.hasError('required')"
                    >Down payment field is required.</mat-error
                  >
                  <mat-error *ngIf="downPayment.errors?.['invalidNumber']">
                    Input should accept only numbers.
                  </mat-error>
                  <mat-error *ngIf="downPayment.hasError('maxNumbersReached')"
                    >Maximum input of 12 numbers reached.</mat-error
                  >
                </mat-form-field>
                <div class="grid-item">
                  <div class="slider-container">
                    <div class="slider-name">Loan period:</div>
                    <mat-slider
                      class="mat-slider2"
                      min="1"
                      max="30"
                      step="1"
                      showTickMarks
                      discrete
                      [displayWith]="formatLabelLoan"
                      required
                    >
                      <input matSliderThumb formControlName="loanPeriod" />
                    </mat-slider>
                    <div class="slider-labels2">
                      <div class="slider-label-left">1</div>
                      <div class="slider-label-right">30</div>
                    </div>
                  </div>
                </div>
                <div class="grid-item">
                  <mat-form-field class="monthlyIncome1" appearance="outline">
                    <mat-label>Monthly family income</mat-label>
                    <input
                      maxlength="12"
                      matInput
                      placeholder="Monthly family income"
                      formControlName="monthlyIncome"
                    />
                    <mat-error *ngIf="monthlyIncome.hasError('required')"
                      >Monthly family income field is required.</mat-error
                    >
                    <mat-error *ngIf="monthlyIncome.errors?.['invalidNumber']">
                      Input should accept only numbers.
                    </mat-error>
                    <mat-error
                      *ngIf="monthlyIncome.hasError('maxNumbersReached')"
                      >Maximum input of 12 numbers reached.</mat-error
                    >
                  </mat-form-field>
                </div>
                <div class="button-containers2">
                  <button
                    mat-button
                    type="submit"
                    class="my-button apply-button"
                    (change)="show()"
                    (click)="calculateMonthly()"
                  >
                    Calculate
                  </button>
                </div>
              </div>
              <div class="results">
                <div class="grid-items results">
                  <span matPrefix>Your estimated monthly payment: </span>
                  <strong>
                    {{ monthlyPaymentResultsDto.estimatedMonthlyPayment }}€
                  </strong>
                </div>
                <div class="grid-items results">
                  <span matPrefix>Maximum monthly loan payment:</span>

                  <strong class="amount">
                    {{ monthlyPaymentResultsDto.maxMonthlyPayment }}€</strong
                  >
                </div>
                <div class="grid-items results">
                  <span matPrefix>Interest rate (fixed):</span>

                  <strong>{{ fixedRate }}%</strong>
                </div>
                <div class="grid-items results">
                  <span matPrefix>Euribor:</span>

                  <strong> {{ euriborValue }}% </strong>
                </div>

                <div class="grid-items results">
                  <span matPrefix>Total interest paid:</span>

                  <strong>{{ totalInterestRate }}€</strong>
                </div>

                <div class="grid-items results">
                  <span matPrefix>Total payment sum:</span>

                  <strong>{{ totalPaymenSum }}€ </strong>
                </div>
              </div>

              <!-- <button
                mat-button
                type="submit"
                class="my-button apply-button"
                (click)="showPopupForm()"
              >
                Apply
              </button> -->
            </div>
          </form>
          <app-monthly-payment
            [monthlyPaymentResultsDto]="monthlyPaymentResultsDto"
            (onResultsCalculated)="handleResultsCalculated($event)"
          ></app-monthly-payment>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<app-popup-form
  *ngIf="showPopup"
  (onClose)="showPopup = false"
></app-popup-form>
<!-- (click)="calculateMonthly()" -->
<div class="spinner-container" *ngIf="spinnerOn">
  <div class="spinner-overlay"></div>
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</div>
