h2 {
  text-align: center;
  font-size: 36px;
  line-height: 1.25;
  margin-bottom: 25px;
  margin-top: 1em;
}

.box {
  margin: 0 auto;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 3);
  border: 2px solid #ddd;
  border-radius: 10px;
  /* background-color: #fbb126; */
}
.columns {
  display: flex;
  justify-content: center;
}

.column {
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  transition: transform 0.3s ease-in-out;
}

.column2 {
  flex-basis: 50%;
  box-sizing: border-box;
}

.mat-form-field {
  scale: 70%;
}

.grid-item {
  display: flex;
  height: 55px;
  align-items: center;
  gap: 10px;
}

.brightness-1-icon {
  grid-column: 1 / 2;
  margin-right: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 10px;
}

.grid-item:nth-child(1) {
  grid-row: 1;
}

.grid-item:nth-child(2) {
  grid-row: 2;
}

.grid-item:nth-child(3) {
  grid-row: 3;
}

.grid-item:nth-child(4) {
  font-weight: bold;
  font-size: 1.2em;
}
.grid-item:nth-child(5) {
  font-weight: bold;
  font-size: 1.2em;
}

mat-icon.brightness-1-icon {
  color: blue;
  width: 50px;
}

mat-icon.brightness-2-icon {
  color: red;
  width: 50px;
}
mat-icon.brightness-3-icon {
  color: green;
  width: 50px;
}
.grid-item span {
  white-space: nowrap;
}

.grid-item:nth-child(4) {
  grid-row: 4;
}

.grid-item:nth-child(5) {
  grid-row: 5;
}

.column.show {
  transform: scale(1);
}

.calculate-button {
  margin-top: 20px;
}

.form2 {
  margin-top: 20px;
  margin-left: 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}

.grid-item {
  display: flex;
  align-items: center;
}

.mat-form-field {
  margin-top: 20px;

  width: 100%;
}
.toggle-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.toggle-label {
  font-size: 14px;
  margin-right: 20px;
}

.submit-button {
  margin-top: 20px;
}

mat-divider[vertical="true"] {
  height: 100px;
  border-right: 1px solid #ccc;
}
.loan-slider,
.family-member-slider {
  margin-top: 40px;
  width: 200px;
}
.slider-container {
  margin-top: 20px;
}

.icon-button-container {
  display: flex;
  align-items: center;
}
.dropdown-label {
  margin-top: 20px;
  margin-bottom: 20px;
}
.submit-button {
  margin-top: 15px;
}

@media screen and (max-width: 800px) {
  .columns {
    flex-wrap: wrap;
  }
  .column {
    width: 100%;
    order: 1;
  }
  .column2 {
    width: 100%;
    order: 2;
  }
  .form2 {
    scale: 90%;
  }
  .submit-button {
    width: 200px;
  }
}

.my-button {
  width: 200px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.calculate-button {
  background-color: #5cb85c;
}
.calculate-button:hover {
  background-color: #449d44;
  border: 2px solid #449d44;
}

.submit-button {
  background-color: #ffa500;
}

.my-button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



.submit-button:hover {
  background-color: #ffa500;
  border: 2px solid #ffa500;
}
