.orange {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5d378;
}


.right-link, .left-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.box{
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  max-width: 100%;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f5d378;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: #f2c95a;
}

.slider-container, .toggle-container, .dropdown-container{
display: flex;
align-items: center;

}
.slider-label, .toggle-label, .dropdown-label {
margin-right: 20px;
width: 50%;

}
.loan-slider, .family-member-slider, .toggle, .dropdown{
width: 20%;
}

.grid{
  display:flex;
}

.columns {
  Width: 100%;
  }
  .column {
    width:100%;
  }
  @media (min-width: 70em) {
    .column {
      width: 40%;
      float:left;
    }
    .columns {
      content: "";
      display: table;
      clear: both;
    }
  }

  .column{
    padding-top: 50px;
        padding-left: 20px;
        margin-bottom: 20px;

  }


.mat-form-field {
  margin-bottom: 20px;
  width: 100%;
}

.mat-label {
  font-size: 14px;
  font-weight: bold;
}

.mat-hint {
  font-size: 12px;
}

.slider-container {

  align-items: center;
  margin-bottom: 20px;
}

.slider-label {
  font-size: 14px;
  font-weight: bold;
  margin-right: 20px;
}

.toggle-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.toggle-label {
  font-size: 14px;
  font-weight: bold;
  margin-right: 20px;
}

.dropdown-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.dropdown-label {
  font-size: 14px;
  font-weight: bold;
  margin-right: 20px;
}

.dropdown {
  width: 200px;
}


.calculate-button {
  padding: 0.5rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  display: center;
  width: 100%;
  max-width: 200px;
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #F5D378  ;
  color: #fff;
  cursor: pointer;
}

.calculate-button:hover {
  background-color: #ffc107;
}

.submit-button {
  padding: 0.5rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  display: center;
  width: 100%;
  max-width: 200px;
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #8CE99A ;
  color: #fff;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #67B372;
}

span{
  font-weight:bold;
}



